<!doctype html>

<html lang="en" class="login-pf">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="robots" content="noindex, nofollow" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Bolt</title>

    <link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
  </head>

  <body>
    <div class="login-pf-page">
      <div class="container-pf main-pf">
        <div class="wrapper-pf">
          <div class="card-pf login-pf-accounts">
            <header class="login-pf-header">
              <div id="page-title">
                <img src="{{ url_for('static', filename='img/bolt-logo.png') }}" alt="logo" />
              </div>
            </header>

            <div id="content">
              <div id="content-wrapper">
                {% for message in get_flashed_messages() %}
                  <div class="alert alert-error">
                    <span class="pficon pficon-error-circle-o"></span>
                    <span class="feedback-text">{{ message }}</span>
                  </div>
                {% endfor %}

                <div id="form" class="row">
                  <div
                    id="form-wrapper"
                    class="col-xs-12 col-sm-6 login-pf-social-section"
                  >
                    <form
                      id="form-login"
                      onsubmit="submitInput.disabled = true; return true;"
                      method="post"
                    >
                      <div class="form-group">
                        <label for="login" class="control-label"
                          >Login</label
                        >

                        <input
                          tabindex="1"
                          id="login"
                          class="form-control"
                          name="login"
                          value=""
                          type="text"
                          autofocus=""
                          autocomplete="off"
                        />
                      </div>

                      <div class="form-group">
                        <label for="password" class="control-label"
                          >Password</label
                        >
                        <input
                          tabindex="2"
                          id="password"
                          class="form-control"
                          name="password"
                          type="password"
                          autocomplete="off"
                        />
                      </div>

                      <div id="form-buttons" class="form-group">
                        <input
                          tabindex="4"
                          class="btn btn-primary btn-block btn-lg"
                          name="submitInput"
                          id="login-input"
                          type="submit"
                          value="Log In"
                        />
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
