<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Load Tests Report for Test Run {{model["id"]}}</title>
    </head>
<body>
<div>
    <img src="logo.png">
    <h1 class="doctitle">
        Test Report
    </h1>
    <div class="content-container">
        {% if model['notes']%}
        <p class="subtitle">
        Notes:
        </p>
        <p>{{model['notes']}}</p>
        <hr>
        {% endif %}
        <p class="subtitle">
        Scenario details:
        </p>
        <table class="table-steps">
        <tbody>
        <tr class="odd">
            <td class="param_name">Scenario name:</td>
            <td class="param_value">{{model['config']['name']}}</td>
        </tr>
        <tr class="even">
            <td class="param_name">Execution time (UTC):</td>
            <td class="param_value">{{model['date']}}</td>
        </tr>
        <tr class="odd">
            <td class="param_name">Bolt URL:</td>
            <td class="param_value"><a href="{{model['url']}}">{{model['url']}}</a></td>
        </tr>
        </tbody>
        </table>
        <hr>
        <div class="breaker"></div>
        <h3>Scenario Configuration</h3>
        {% if model['config']['params']['load']%}
        <p class="subtitle">Load<p>
        <table class="table-steps">
            <tbody>
            <tr class="odd">
            <td class="param_name">Host:</td>
            <td class="param_value">{{model['config']['params']['load']['host']}}</td>
            </tr>
            <tr class="even">
            <td class="param_name">Duration:</td>
            <td class="param_value">{{model['config']['params']['load']['duration']}}</td>
            </tr>
            <tr class="odd">
            <td class="param_name">Users/Second ramp up:</td>
            <td class="param_value">{{model['config']['params']['load']['rampup']}}</td>
            </tr>
            <tr class="even">
            <td class="param_name">Total users:</td>
            <td class="param_value">{{model['config']['params']['load']['users']}}</td>
            </tr>
            </tbody>
        </table>
        {% endif %}
        {% if model['config']['params']['monitoring']%}
        <p class="subtitle">Monitoring<p>
        <table class="table-steps">
            <tbody>
            <tr class="odd">
            <td class="param_name">Duration:</td>
            <td class="param_value">{{model['config']['params']['monitoring']['duration']}}</td>
            </tr>
            <tr class="even">
            <td class="param_name">Interval:</td>
            <td class="param_value">{{model['config']['params']['monitoring']['interval']}}</td>
            </tr>
            </tbody>
        </table>
        {% endif %}
        {% if model['config']['envvars'] %}
        <p class="subtitle">Environment variables<p>
        <table class="table-steps">
            <tbody>
            {% for k, v in model['config']['envvars'].items() %}
            <tr class="{{ loop.cycle('odd', 'even') }}">
            <td class="param_name">{{k}}</td>
            <td class="param_value">{{v}}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        {% endif %}
        <hr>
        <h3 id="resultsintime">
        Test results in time
        </h3>
        <img src="{{model['time_plots']}}" style="max-width: 100%">
        <div class="breaker"></div>
         <h3>Endpoints Results</h3>
        {% if model['distribution'] %}
        <p class="subtitle"><b>Summary</b>
        <table class="table-steps">
            <thead>
            <tr>
               <th>method</th>
               <th>endpoint</th>
               <th>50%</th>
               <th>66%</th>
               <th>75%</th>
               <th>80%</th>
               <th>90%</th>
               <th>95%</th>
               <th>98%</th>
               <th>99%</th>
               <th>100%</th>
            </tr>
            </thead>
        <tbody>
        {% for d in model['distribution'] %}
            <tr class="{{ loop.cycle('odd', 'even') }}">
            <td class="percentiles">{{d['method']}}</td>
            <td class="percentiles">{{d['name']}}</td>
            <td class="percentiles">{{d['p50']}}</td>
            <td class="percentiles">{{d['p66']}}</td>
            <td class="percentiles">{{d['p75']}}</td>
            <td class="percentiles">{{d['p80']}}</td>
            <td class="percentiles">{{d['p90']}}</td>
            <td class="percentiles">{{d['p95']}}</td>
            <td class="percentiles">{{d['p98']}}</td>
            <td class="percentiles">{{d['p99']}}</td>
            <td class="percentiles">{{d['p100']}}</td>
            </tr>
        {% endfor %}
        </tbody>
        </table>
        {% endif %}
        {% for r in model['requests'] %}
        <p class="subtitle"><b>{{r['method']}}</b>: {{r['name']}}<p>
        <table class="table-steps">
        <tbody>
        <tr class="odd">
            <td class="param_name">Avg. requests/second:</td>
            <td class="param_value">{{r['req_second']}}</td>
        </tr>
        <tr class="even">
            <td class="param_name">Total requests:</td>
            <td class="param_value"><b>{{r['total']}}</b></td>
        </tr>
        <tr class="odd">
            <td class="param_name">Success ratio:</td>
            <td class="param_value">
                <img src="{{r['pie_svg']}}" style="max-width: 100%; max-height: 150pt;">
            </td>
        </tr>
        <tr class="even">
            <td class="param_name">Min. response time:</td>
            <td class="param_value">{{r['min_time_label']}}</td>
        </tr>
        <tr class="odd">
            <td class="param_name">Avg. response time:</td>
            <td class="param_value"><b>{{r['avg_time_label']}}</b></td>
        </tr>
        <tr class="even">
            <td class="param_name">Max. response time:</td>
            <td class="param_value">{{r['max_time_label']}}</td>
        </tr>
        <tr class="odd">
            <td class="param_name">Time distribution:</td>
            <td class="param_value">
                <img src="{{r['distribution_svg']}}" style="max-width: 100%; max-height: 150pt;">
            </td>
        </tr>

        </tbody>
        </table>
        {% if r['errors'] %}
        <p class="subtitle">Request errors</p>
        <table class="table-steps">
        <tbody>
        {% for e in r['errors'] %}
            <tr class="{{ loop.cycle('odd', 'even') }}">
            <td class="error_name">{{e['exception_data']}}</td>
            <td class="error_value">{{e['number_of_occurrences']}} ({{e['percent']}}%)</td>
            </tr>
        {% endfor %}
        </tbody>
        </table>
        {% endif %}
        <hr>
        {% endfor %}
        {% if model['metrics_plots'] %}
        <img src="{{model['metrics_plots']}}" style="max-width: 100%">
        {% endif %}
    </div>
</div>
</body>
</html>